/* Importar estilos en orden correcto - Terracheck Organic Design System */
@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/layout.css';
@import './styles/components.css';
